<h1 mat-dialog-title>Edit Person</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Name *</mat-label>
        <input matInput type="text" name="firstName" formControlName="Name">
        <mat-error *ngIf="formInstance.controls['Name']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Number *</mat-label>
        <input matInput type="number" name="number" formControlName="number" />
        <mat-error *ngIf="formInstance.controls['number']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Model *</mat-label>
        <mat-select name="Model" formControlName="Model">
          <mat-option value="Dell 7020">Dell 7020</mat-option>
          <mat-option value="Dell 9010">Dell 9010</mat-option>
          <mat-option value="Dell 9020">Dell 9020</mat-option>
          <mat-option value="Dell 7020">Dell 7020</mat-option>
        </mat-select>
        <mat-error *ngIf="formInstance.controls['model']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
    cdkFocusInitial>Yes</button>
  <button mat-raised-button mat-dialog-close>No</button>
</div>
